name: build project
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  check-sqlite:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Check SQLite versions
      run: bash tools/check_sqlite_versions.sh

  build:
    needs: check-sqlite
    strategy:
      matrix:
        build:
          - {
            os: ubuntu-latest,
            preset: ninja,
            cmake_args: -DCMAKE_TOOLCHAIN_FILE=toolchain/use-vcpkg
          }
          - {
            os: macos-latest,
            preset: xcode,
            cmake_args: -DPROJECT_ADDONS='add-on/fetch-dependencies'
          }
          - {
            os: windows-2022,
            preset: msvc22,
            cmake_args: -DCMAKE_TOOLCHAIN_FILE=toolchain/use-vcpkg
          }
          - {
            os: windows-2025-vs2026,
            preset: msvc26,
            cmake_args: -DPROJECT_ADDONS='add-on/fetch-dependencies' -DCMAKE_TOOLCHAIN_FILE="" -Dsl3_USE_INTERNAL_SQLITE3=ON
          }
    runs-on: ${{ matrix.build.os }}
    steps:
    - name: Cleanup for SQLite on macOS
      run: |
        sudo rm -rf /Library/Frameworks/Mono.framework
      # There is a sqlite header in a different version than the lib found in the system
      if: startsWith(matrix.build.os, 'macos')

    - uses: lukka/get-cmake@latest
      if: matrix.build.os != 'windows-2025-vs2026'
      with:
        cmakeVersion: "~3.30.0"  # <--= optional, use most recent 3.25.x version
        ninjaVersion: "^1.11.1"  # <--= optional, use most recent 1.x version

    - uses: lukka/get-cmake@latest
      if: matrix.build.os == 'windows-2025-vs2026'
      with:
        cmakeVersion: "latest"
        ninjaVersion: "latest"

    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup MSVC
      if: startsWith(matrix.build.os, 'windows')
      uses: ilammy/msvc-dev-cmd@v1
    - name: Configure project
      run:  cmake --preset ${{ matrix.build.preset }} ${{ matrix.build.cmake_args }}
    - name: Build project
      run:  cmake --build --preset ${{ matrix.build.preset }}-release --parallel --verbose
    - name: Run unit test
      run:  ctest --preset ${{ matrix.build.preset }}-release --parallel

